@{
    Layout = null;
}
<div>
    <h2>Login</h2>
    <p>@ViewBag.Error</p>
    <form method="post" action="/Auth/Login">
        <input type="text" name="username" required /><br /><br />
        <input type="password" name="password" required /><br /><br />
        <button type="submit">login</button>
    </form>
</div>